
body {
    background: linear-gradient(to bottom left, rgb(255, 255, 255) 50%, rgb(165, 240, 171) 50%);
    color: white;
    line-height: 1.9rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    height: 70vh;
}


.main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    margin: 3rem 0 0 0;
    position: relative;


}

.container__section-gauche{
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 4px 7px 20px rgba(0,0,0,0.94);
    display: flex;
    margin: 10rem 7.6rem 0rem;
    background-color: #196319d2;
    border: 3px outset #797a79;
    transition: all .4s ease;
    width: 30rem;
    height: 15rem;
    position: relative;
}


.container__section-centre{
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 4px 7px 20px rgba(0,0,0,0.94);
    display: flex;
    background-color: #a7bea1d7;
    border: 3px outset #79797a;
    transition: all .4s ease;
    width: 30rem;
    height: 30rem;
    position: relative;
}

.container__section-droite{
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5), 4px 7px 20px rgba(0,0,0,0.94);
    display: flex;
    padding-left: 2rem;
    align-items: center;
    background-color: #6bd456c2;
    border: 3px outset #79797a;
    transition: all .4s ease;
    width: 30rem;
    height: 30rem;
    position: relative;
}


img{
    height : 20rem ;
    margin: 0rem 8rem -28rem;
    position: absolute;
}

.button{
    position: relative;
    margin: auto 78%;
}




  


h1 {
    text-align: center;
    margin: -3rem auto 7rem;
    padding-top: 6rem;
    font-size: 9rem;
    color: #131313;
    background-color: rgba(165, 240, 171);
    letter-spacing: .15em;
    text-shadow: 5px 5px 0 #ffffff;
}

.title__green{
    text-decoration: #6bd456;
    color: #6bd456 !important;
}

p {
    text-align: center;
    font-size: 1.2rem;
    margin: 2rem 4rem;

}

#droit__p{
    margin: auto 2rem auto 0rem;
}

ul{
    display: block;
    align-items: center;
    margin: auto;
}

.container__section-gauche:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}
  
.container__section-centre:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}
.container__section-droite:hover {
    border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
    box-shadow: 10px 10px rgba(0,0,0,.25);
}

